:host {
  --paper-slider-max-width: 200px;
  --paper-slider-height: 4px;
  --calculated-paper-slider-height: 2px;
  --paper-slider-knob-color: var(--ymp-accent-color);
  --paper-slider-active-color: var(--ymp-accent-color);
  --paper-slider-pin-color: var(--ymp-accent-color);
  --paper-slider-secondary-color: var(--ymp-text-primary);
  --paper-slider-disabled-knob-color: var(--ymp-text-primary);
  --paper-progress-container-color: var(--ymp-background-alfa-color);
  --paper-slider-container-color: var(--ymp-background-alfa-color);

  width: 100%;
  max-width: calc(var(--mdc-icon-button-size) + var(--paper-slider-max-width));
  display: flex;
  align-items: center;

  .mute {
    width: var(--mdc-icon-button-size);
    min-width: var(--mdc-icon-button-size);
    height: var(--mdc-icon-button-size);;
  }

  .volume {
    width: calc(100% - var(--mdc-icon-button-size));
    padding: 0 calc(15px + var(--calculated-paper-slider-height) / 2);

    .slider-wrap {
      left: calc(-15px - var(--calculated-paper-slider-height) / 2);
      position: relative;
    }
  }
}
